# NODEMAILER
NUXT_NODEMAILER_HOST="smtp.yandex.ru"
NUXT_NODEMAILER_PORT=465
NUXT_NODEMAILER_SECURE=1
NUXT_NODEMAILER_USER="nikita@loshchenin.ru"
NUXT_NODEMAILER_PASS="***secret***"
NUXT_NODEMAILER_FROM="Nikita Loshchenin 👻 <nikita@loshchenin.ru>"
NUXT_NODEMAILER_TO="nikita@loshchenin.ru"
