@tailwind base;
@tailwind components;
@tailwind utilities;


.theme-light {
    --background: #f8f8f8;
    --text: #313131;
    --divider: #515151;
}


.theme-dark {
    --background: #313131;
    --text: #f8f8f8;
    --divider: #515151;
}

@layer base {
    html {
        font-family: 'Roboto', sans-serif;
    }
}
